<plugin name='qt-base-common' version='12.01-SNAPSHOT' grailsVersion='2.0.1 &gt; *'>
  <author>Franck Silvestre - Ticetime</author>
  <title>QTBaseCommon  Plugin</title>
  <description>  Business logic for QTBase"
  </description>
  <type>QtBaseCommonGrailsPlugin</type>
  <resources>
    <resource>org.lilie.services.eliot.tdbase.Copie</resource>
    <resource>org.lilie.services.eliot.tdbase.ModaliteActivite</resource>
    <resource>org.lilie.services.eliot.tdbase.Question</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionAttachement</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionExport</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionType</resource>
    <resource>org.lilie.services.eliot.tdbase.Reponse</resource>
    <resource>org.lilie.services.eliot.tdbase.ReponseAttachement</resource>
    <resource>org.lilie.services.eliot.tdbase.Sujet</resource>
    <resource>org.lilie.services.eliot.tdbase.SujetSequenceQuestions</resource>
    <resource>org.lilie.services.eliot.tdbase.SujetType</resource>
    <resource>org.lilie.services.eliot.tdbase.Artefact</resource>
    <resource>org.lilie.services.eliot.tdbase.ArtefactAutorisationService</resource>
    <resource>org.lilie.services.eliot.tdbase.CopieJobService</resource>
    <resource>org.lilie.services.eliot.tdbase.CopieService</resource>
    <resource>org.lilie.services.eliot.tdbase.ModaliteActiviteService</resource>
    <resource>org.lilie.services.eliot.tdbase.Paternite</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionAttachementService</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionService</resource>
    <resource>org.lilie.services.eliot.tdbase.QuestionSpecificationService</resource>
    <resource>org.lilie.services.eliot.tdbase.ReponseAttachementService</resource>
    <resource>org.lilie.services.eliot.tdbase.ReponseService</resource>
    <resource>org.lilie.services.eliot.tdbase.ReponseSpecificationService</resource>
    <resource>org.lilie.services.eliot.tdbase.Specification</resource>
    <resource>org.lilie.services.eliot.tdbase.SujetService</resource>
    <resource>org.lilie.services.eliot.tdbase.utils.TdBaseInitialisationTestService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='http://repository-ticetime.forge.cloudbees.com/release' url='http://repository-ticetime.forge.cloudbees.com/release/' />
    <repository name='http://repository-ticetime.forge.cloudbees.com/snapshot' url='http://repository-ticetime.forge.cloudbees.com/snapshot/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.5.2' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='9.1-901.jdbc4' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>